/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);

  --h1-text-color: #DB00FF;
  --h2-text-color: #FF0070;
  --h3-text-color: #000028;
  --text-color: #F1B2CE;

  --button-color: #FF0070;
  --border-hover: rgb(255, 0, 112, 0.4);

  --main-font: "IBM Plex mono";
  --body-font-size: 18px;
  --line-height: 23.4px;

  --padding-mobile: 10px;
  --padding-web: 20px;

  --rec: visible;
}